<div class="menucontainer">
  <mat-card class="menucard"><img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">Irgendwas</mat-card>
  <mat-card class="menucard"><img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">Kalkulation</mat-card>
  <mat-card class="menucard"><img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">Was anderes</mat-card>
  <mat-card class="menucard"><img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"></mat-card>
  <mat-card class="menucard"><img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"></mat-card>
  <mat-card class="menucard"><img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"></mat-card>
</div>
<div></div>
