<div class="flexContainer" *ngIf="!dataSubmitted">
  <form class="formContainer" [formGroup]="frm" (submit)="submitCalculation($event)">
    <mat-form-field class="flexItem">
      <mat-label> Offer No.(disabled)</mat-label>
      <input matInput disabled value=0123456>
    </mat-form-field>
    <mat-form-field class="flexItem">
      <mat-label>Company (disabled)</mat-label>
      <input matInput disabled value="Google">
    </mat-form-field>
    <div formArrayName="items" class="flexGroup">
      <div *ngFor="let item of items.controls; let i=index" id={{item}}>
        <div [formGroupName]="i">
          <span>
            <mat-form-field class="flexGroupItem">
              <mat-label>Item No.</mat-label>
              <input matInput formControlName="itemNo">
              <mat-error *ngIf="items.controls[i].get('itemNo').hasError('pattern')">
                Der Produktname darf keine Sonderzeichen enthalten
              </mat-error>
            </mat-form-field>
          </span>
          <span>
            <mat-form-field class="flexGroupItem">
              <mat-label>Item Description</mat-label>
              <input matInput formControlName="itemDesc">
              <mat-error *ngIf="items.controls[i].get('itemDesc').hasError('pattern') && !items.controls[i].get('itemDesc').hasError('required')">
                Der Produktname darf keine Sonderzeichen enthalten
              </mat-error>
              <mat-error *ngIf="items.controls[i].get('itemDesc').hasError('required')">
                Es wird ein Produktname benötigt
              </mat-error>
            </mat-form-field>
          </span>
          <span>
            <mat-form-field class="flexGroupItem">
              <mat-label>Amount</mat-label>
              <input type="number" matInput formControlName="amount">
              <mat-error *ngIf="items.controls[i].get('amount').hasError('min') && !items.controls[i].get('amount').hasError('required')">
                Die Stückzahl darf nicht negativ sein
              </mat-error>
              <mat-error *ngIf="items.controls[i].get('amount').hasError('required')">
                Es wird eine Stückzahl benötigt
              </mat-error>
            </mat-form-field>
          </span>
          <span>
            <mat-form-field class="flexGroupItem">
              <mat-label>Price</mat-label>
              <input type="number" matInput formControlName="price">
              <mat-error *ngIf="items.controls[i].get('price').hasError('min') && !items.controls[i].get('price').hasError('required')">
                Darf nicht negativ sein
              </mat-error>
              <mat-error *ngIf="items.controls[i].get('price').hasError('required')">
                Dieses Feld wird benötigt
              </mat-error>
            </mat-form-field>
          </span>
          <button type="button" mat-mini-fab color="warn" aria-label="Example icon button with a menu icon" (click)="deleteItem(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="dividerBtn">
      <button type="button" mat-stroked-button color="primary" (click)="addItem()">Add Item</button>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Material overhead</mat-label>
        <input type="number" matInput formControlName="materialOverheadPercentage">
      </mat-form-field>
    </div>
    <div formArrayName="steps" class="flexGroup">
      <div *ngFor="let step of steps.controls; let i=index" class="example-full-width" id={{step}}>
        <div [formGroupName]="i">
          <span>
            <mat-form-field class="flexGroupItem">
              <mat-label>Step No.</mat-label>
              <input matInput formControlName="stepNo">
            </mat-form-field>
          </span>
          <span>
            <mat-form-field class="flexGroupItem">
              <mat-label>Step Description</mat-label>
              <input matInput formControlName="stepDesc">
            </mat-form-field>
          </span>
          <span>
            <mat-form-field class="flexGroupItem">
              <mat-label>Amount</mat-label>
              <input type="number" matInput formControlName="amount">
              <mat-error *ngIf="steps.controls[i].get('amount').hasError('min') && !steps.controls[i].get('amount').hasError('required')">
                Darf nicht negativ sein
              </mat-error>
              <mat-error *ngIf="steps.controls[i].get('amount').hasError('required')">
                Dieses Feld wird benötigt
              </mat-error>
            </mat-form-field>
          </span>
          <span>
            <mat-form-field class="flexGroupItem">
              <mat-label>Price</mat-label>
              <input type="number" matInput formControlName="price">
              <mat-error *ngIf="steps.controls[i].get('price').hasError('min') && !steps.controls[i].get('price').hasError('required')">
                Darf nicht negativ sein
              </mat-error>
              <mat-error *ngIf="steps.controls[i].get('price').hasError('required')">
                Dieses Feld wird benötigt
              </mat-error>
            </mat-form-field>
          </span>
          <button type="button" mat-mini-fab color="warn" aria-label="Example icon button with a menu icon" (click)="deleteStep(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="dividerBtn">
      <button type="button" mat-stroked-button color="primary" (click)="addStep()">Add Step</button>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Production overhead</mat-label>
        <input type="number" matInput formControlName="productionOverheadPercentage">
        <mat-error *ngIf="productionOverheadPercentage.hasError('min') && !productionOverheadPercentage.hasError('required')">
          Darf nicht negativ sein
        </mat-error>
        <mat-error *ngIf="productionOverheadPercentage.hasError('required')">
          Dieses Feld wird benötigt
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flexGroup">
      <div>
        <mat-form-field class="flexGroupItem">
          <mat-label>Administrative overhead</mat-label>
          <input type="number" matInput formControlName="administrativeOverheadPercentage">
          <mat-error *ngIf="administrativeOverheadPercentage.hasError('min') && !administrativeOverheadPercentage.hasError('required')">
            Darf nicht negativ sein
          </mat-error>
          <mat-error *ngIf="administrativeOverheadPercentage.hasError('required')">
            Dieses Feld wird benötigt
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="flexGroupItem">
          <mat-label>Selling expenses</mat-label>
          <input type="number" matInput formControlName="sellingExpensesPercentage">
          <mat-error *ngIf="sellingExpensesPercentage.hasError('min') && !sellingExpensesPercentage.hasError('required')">
            Darf nicht negativ sein
          </mat-error>
          <mat-error *ngIf="sellingExpensesPercentage.hasError('required')">
            Dieses Feld wird benötigt
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="flexGroupItem">
          <mat-label>Profit markup</mat-label>
          <input type="number" matInput formControlName="profitMarkup">
          <mat-error *ngIf="profitMarkup.hasError('min') && !profitMarkup.hasError('required')">
            Darf nicht negativ sein
          </mat-error>
          <mat-error *ngIf="profitMarkup.hasError('required')">
            Dieses Feld wird benötigt
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="flexGroupItem">
          <mat-label>Cash discount</mat-label>
          <input type="number" matInput formControlName="cashDiscountPercentage">
          <mat-error *ngIf="cashDiscountPercentage.hasError('min') && !cashDiscountPercentage.hasError('required')">
            Darf nicht negativ sein
          </mat-error>
          <mat-error *ngIf="cashDiscountPercentage.hasError('required')">
            Dieses Feld wird benötigt
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="flexGroup">
      <div>
        <mat-form-field class="flexGroupItem">
          <mat-label>Agents commission</mat-label>
          <input type="number" matInput formControlName="agentsCommissionPercentage">
          <mat-error *ngIf="agentsCommissionPercentage.hasError('min') && !agentsCommissionPercentage.hasError('required')">
            Darf nicht negativ sein
          </mat-error>
          <mat-error *ngIf="agentsCommissionPercentage.hasError('required')">
            Dieses Feld wird benötigt
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="flexGroupItem">
          <mat-label>Customer discount</mat-label>
          <input type="number" matInput formControlName="customerDiscountPercentage">
          <mat-error *ngIf="customerDiscountPercentage.hasError('min') && !customerDiscountPercentage.hasError('required')">
            Darf nicht negativ sein
          </mat-error>
          <mat-error *ngIf="customerDiscountPercentage.hasError('required')">
            Dieses Feld wird benötigt
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="flexGroupItem">
          <mat-label>Sales tax</mat-label>
          <input type="number" matInput formControlName="salesTaxPercentage">
          <mat-error *ngIf="salesTaxPercentage.hasError('min') && !salesTaxPercentage.hasError('required')">
            Darf nicht negativ sein
          </mat-error>
          <mat-error *ngIf="salesTaxPercentage.hasError('required')">
            Dieses Feld wird benötigt
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="dividerBtn">
      <button class="submitButton" [disabled]="!frm.valid" mat-stroked-button color="primary">Calculate</button>
    </div>

  </form>

</div>
<app-calculation-output *ngIf="calculation$" [calculation$] ="calculation$"></app-calculation-output>



